@model GymManagement.Models.ViewModel.UserViewModel

@{
    ViewBag.Title = "ChangePassword";
    Layout = null;
  
}

<link type="text/css" href="~/bootstrap/css/bootstrap.min.css" rel="stylesheet">
<link type="text/css" href="~/bootstrap/css/bootstrap-responsive.min.css" rel="stylesheet">
<link type="text/css" href="~/css/theme.css" rel="stylesheet">
<link type="text/css" href="~/images/icons/css/font-awesome.css" rel="stylesheet">
<link type="text/css" href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,600italic,400,600' rel='stylesheet'>
<script src="~/Scripts/jquery-1.7.1.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
<style>
    span.field-validation-error {
        color: red;
    }
</style>

<div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
            <a class="btn btn-navbar" data-toggle="collapse" data-target=".navbar-inverse-collapse">
                <i class="icon-reorder shaded"></i>
            </a>

            <a class="brand" href="@Url.Action("Login","Account")">
			  		GYM Management
			  	</a>

            <div class="nav-collapse collapse navbar-inverse-collapse">

                <ul class="nav pull-right">





                    <li><a href="#">Forgot your password?
                    </a></li>
                </ul>
            </div>
            <!-- /.nav-collapse -->
        </div>
    </div>
    <!-- /navbar-inner -->
</div>
<!-- /navbar -->



<div class="wrapper">
    <div class="container">
        <div class="row">
            <div class="module module-login span4 offset4">
                @using (Html.BeginForm())
                {
                    
                    
                    <div class="form-vertical">
                        <div class="module-head">
                            <h3>Enter Email To Send Your Password</h3>
                        </div>
                        <div class="module-body">
                            <div class="control-group">
                                <div class="controls row-fluid">

                                  



                                   
                                    
                                        @Html.TextBoxFor(model => model.Email, new {@class="span12",@placeHolder="Enter Email" })
                                        @Html.ValidationMessageFor(model => model.Email)
                                    </div>
                                </div>
                            </div>
                            <div class="module-foot">
                                <div class="control-group">
                                    <div class="controls clearfix">
                                        <button type="submit" class="btn btn-primary pull-right">Send Password</button>
                                        <h2 style="color: red">@ViewBag.Message</h2>
                                    </div>
                                </div>
                            </div>
                        </div>
                   

        
                }
            </div>
        </div>
    </div>
</div>

